  <nav class="navbar navbar-light bg-light">
        <div class="d-flex justify-content-start">
            <h1><a style="color:rgb(75, 161, 75); text-decoration:none" href="https://go-gang.herokuapp.com/">GG</a></h1>
        </div>

        <div class="d-flex justify-content-center">
            <h1>GO Gang</h1>
        </div>

        <div class="d-flex justify-content-end">

            <a href="/auth/"><button type="button" class="btn btn-outline-success" id="loginButton">Log Out</button></a>

        </div>
    </nav>

    <!-- Live Feed -->
    <div class="container mt-4" >
        <div class="col">
            <h3 class="text-center">Live Feed</h3>
            <p class="text-center">Join a group or start one!</p>
        </div>
    </div>
</div>

<div class="row" style="justify-content: center">
    <!-- Large modal -->
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-lg">Create
        New Post</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="cms">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="title">Title:</label>
                        <input placeholder="I'm going to Stevens!" type="text" class="form-control" id="title">
                        <br />
                        <label for="location">Location:</label>
                        <input placeholder="Steven's Pass" type="text" class="form-control" id="location">
                        <br />
                        ​
                        <label for="category">Category:</label>
                        <input placeholder="Skiing" type="text" class="form-control" id="category">
                        <br />
                        ​
                        <label for="Date">Date/Time:</label>
                        <input placeholder="10/10/19" type="text" class="form-control" id="date">
                        <br />
                        ​
                        <label for="body">Event Info:</label>
                        <textarea placeholder="share a link or write a little about the destination"
                            class="form-control" rows="10" id="body"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
​
<br>
<br>
</div>

<br>
<br>

<ul>
    {{#each posts}}
    <li>
        <div class="row" style="justify-content: center">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center my-auto">
                        <img src="https://picsum.photos/185/278/?blur" class="card-img" alt="...">
                        <button type="button" class="btn btn-success">+ Join</button>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text"><small class="text-muted">{{location}}</small></p>
                            <p class="card-text"><small class="text-muted">{{date}}</small></p>
                            <p class="card-text">{{body}}</p>
                            <p class="card-text"><small class="text-muted">Posted at {{createdAt}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</ul>

</div>